@model IEnumerable<ProcessoSeletivo.Application.ViewModel.PerfilViewModel>

@{
    ViewBag.Title = "Perfis";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Novo", "CreateOrEdit", null, new { @class = "btn btn-success" })
</p>
<table class="table table-striped">
    <thead>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </thead>

@foreach (var item in Model) {
    <tr id='tr@(item.Id)'>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Editar", "CreateOrEdit", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })
            @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
            <button onclick='deleteItem(@item.Id)' class="btn btn-danger btn-sm">Excluir</button>
        </td>
    </tr>
}

</table>


@section scripts{

    <script>
        function deleteItem(id) {

            var url = '@ViewBag.UrlDelete/' + id;
            showConfirmModal("Exclusão", "Você tem certeza disso ?", function () {
                $.ajax({
                    type: 'DELETE',
                    headers: {

                    },
                    url: url,
                    beforeSend: function () {
                        showLoading();
                    },
                    complete: function () {
                        hideLoading();
                    },
                    success: function () {
                        showAlert('Operação executada com sucesso !', 'success');
                        var tr = $('#tr' + id);
                        tr.fadeOut(500, function () {
                            tr.remove();
                        });

                    },
                    error: function (req, errorMessage) {
                        showAlert('Ocorreu um erro ao executar a operação: ' + errorMessage, 'danger');
                    }
                });
            });
        }

    </script>
}